html,
body,
#mapid {
  height: 100%;
  width: 100%;
  background-color:white;
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: rgb(1, 30, 45);
  text-align: center;
  padding-top: 25px;
}

/*** Jumbotron background styling ***/

.jumbotron {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.jumbotron-image {
  background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbotron-content {
  color: white;
  position: relative;
}

.jumbotron1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  background-color: rgb(0, 81, 124);
  color:white;
  padding-top: 10px;
}
.headerlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
 
}
.display-4 {
  position: relative;
  text-align: center;
  padding-left: 150px;
}
.main {
  padding: 1rem 1rem;
  text-align: left;
}
.control-panel {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  padding-left: 0px;
  width: 175px;
  height:auto;
  background-color: rgb(0, 81, 124) ;
}
.controlmenu {
  color: white;
}
.main-section{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  position: relative;
  float:inline-end;
  vertical-align: top;
  left: 5px;
  width:150rem;
  height: 90rem;
  border: 1px solid #163f63;    
  background-color: #98cae8; 
}
.nav-button {
  background-color:rgb(142,110,67);
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
  width: 150px;
  height: 70px;
}
.nav-button:hover {
  background-color:rgb(243,159,45);
  transition: 0.4s;
}
.nav-link{
  color:white;
}
.title{
        text-align: center;
        color: black;
        padding-top: 15%;
        padding-right: 5%;
        padding-left: 5%;
}

.form{
  padding:15px;
  float:center;
  background-color: rgb(0, 81, 124);
  color: white;
  height: auto;
}
input, label {
  margin: 5px 5px;
}

.form-group {
  background-color:  rgb(0, 81, 124);
  margin: 30px auto;
  width: 75%;
}

.form-control {
  float: center;
}

#inputName {
  width: 100%;
}

#inputEmail {
  display: inline-block;
  width: 54.5%;
}

#PhoneNumber {
  display: inline-block;
  width: 45%;
}

#inputMessage {
  width: 100%;
  height: 150px;
  text-align: top;
}
#inputMLS {
  display: inline-block;
  width:49%;
}
#inputStreet {
  width: 100%;
}

#inputCity {
  display: inline-block;
  width: 40%;
}

#inputState {
  display: inline-block;
  width: 40%;
}

#inputZip {
  display: inline-block;
  width: 19.2%;
}

#inputCounty {
  display: inline-block;
  width: 50.5%;
}
.formbutton{
  background-color: rgb(142,110,67); 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.formbutton:hover{
  background-color:rgb(243,159,45);
  transition: 0.4s;
}

.Description{
    padding:10rem 10rem;

}

footer {
position: absolute;
left: 0px;
bottom: 0px;
height: 100px;
width: 100%;
background-color:  rgb(0, 81, 124);
text-align: center;
}
.title1{
  text-align: left;
  color: black;
  padding-right: 5%;
  padding-left: 5%;
}