html,
body,
#mapid {
  height: 100%;
  width: 100%;
  background-color: rgb(224, 204, 165);
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: rgb(1, 30, 45);
  text-align: center;
  padding-top: 25px;
}

/*** Jumbotron background styling ***/

.jumbotron {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
}

.jumbotron-image {
  background: linear-gradient(rgba(0, 0, 250, 0.25), rgba(125, 250, 250, 0.45));
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.jumbotron-content {
  color: white;
  position: relative;
}
