<!---------------------------------------------------------------------
* 
* Name: db_test.html
*
* Description:
* This page will test making a call to the postgresql db and render
* the data returned in template.
* 
----------------------------------------------------------------------->
{% extends 'home.html' %} {% block body %}

<h4>Test for Retrieving DB Data</h4>

<form>
  <label>MLS Number:</label>
  <input value={{ id_table_data[0]['MLSNumber'] }} readonly>
  <br />
  <label>Address:</label>
  <input value={{ id_table_data[0]['Address'] }} readonly>
</form>

{% endblock %}
