<!---------------------------------------------------------------------
* 
* Name: db_test.html
*
* Description:
* This page will test making a call to the postgresql db and render
* the data returned in template.
* 
----------------------------------------------------------------------->
{% extends 'home.html' %} {% block body %}

<h4>Test for Retrieving DB Data</h4>

<div>
  <p>
    Calling IdTable() in db_test.html and replaces home.html with the data
    returned.
  </p>
  <p>{{id_table_data}}</p>
</div>

{% endblock %}
