<!---------------------------------------------------------------------
* 
* Name: MyListPrice.html
*
* Description: 
* This page is contains the index to all other pages for the RealLeads
* Flask application.
*
* When a new template is rendered, the body of the index below the
* section with the buttons for testing each route will replace what
* is currently rendered in this section of the index page.
*
----------------------------------------------------------------------->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RealLeads</title>
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  />


  <!-- Leaflet CSS -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""
  />
  <!-- d3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="/static/js/localData.js"></script>
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>
{% include 'header.html' %}
<body>
  <div class="main">
    <div class="control-panel">
      <div class="controlmenu">
        <h3>Menu</h3>
      </div>
      <button class="nav-button" onclick="">
        <a class="nav-link active" href="{{ url_for('home') }}">Home</a>
      </button>
      <button class="nav-button">
        <a class="nav-link active" href="{{ url_for('YourHome') }}">My Home</a>
      </button>
      <button class="nav-button">
        <a class="nav-link active" href="{{ url_for('MyListPrice') }}">My List Price</a>  
      </button>
      <button class="nav-button">
        <a class="nav-link active" href="{{ url_for('ExpectedPrice') }}">My Expected Sold Price</a>
      
      </button>
      <button class="nav-button">
        <a class="nav-link active" href="{{ url_for('DaysOnMarket') }}">My Expected Days On Market</a>
      
      </button>
      <button class="nav-button">
        <a class="nav-link active" href="{{ url_for('MyAgent') }}">My Agent</a>
       
      </button>
      <button class="nav-button">
        <a class="nav-link active" href="{{ url_for('tableau_test', story_id = 1) }}">Tableau</a>
       
      </button>

      <button class="nav-button">
        <a class="nav-link active" href="{{ url_for('mapbox_test_eq') }}">MapBox</a>
       
      </button>


    </div>
      <div class="main-section">
        <br>
        <div class="form">
          <div class="form-group">
            <h3>Input Your Address Here</h3>
            <input type="street" 
                   class="form-control" 
                   id="autocomplete" 
                   placeholder="Street">
            
            <input type="city" 
                   class="form-control" 
                   id="inputCity" 
                   placeholder="City">
            
            <input type="state" 
                   class="form-control" 
                   id="inputState" 
                   placeholder="State">
            
            <input type="zip" 
                   class="form-control" 
                   id="inputZip" 
                   placeholder="Zip">
            
            <input type="county" 
                   class="form-control" 
                   id="inputCounty" 
                   placeholder="County">
            <input type="MLS Number"
                   class="form-control"
                   id="inputMLS"
                   placeholder="MLS Number">
            <br>
            <button class="formbutton" onclick="display_arrayExpectedPrice();">
                  Click to Receive data
            </button>

            <div class="results"> 
              <h3 class="title1">Your Expected Sold Price</h3>
              <dl class="dl-horizontal">
                <dt>Expected Sold Price</dt>
                  <dd><div class= text id="expectedListPrice"></div></dd>
            </div>
          </div>
        </div>
        <br>
        <style>
          dd{
            Border: 1px solid;
            text-align: right;
            background-color: white;
            width: 200px;
          }
          dt{
            width:300px;
            text-align: left;
          }
         
        </style>
      <h1 class="title1">
        <p>
          YOUR EXPECTED SOLD PRICE is the price you can expect to get for your home. This does not include seller's fees like transfer taxes, closing cost and agent commissions.
        </p>
        <br>
        <p>
          EXPECTED SOLD PRICE is impacted by the physical characteristics of your home, for example, square footage, number of bedrooms etc. HomeWise's expected sold price can help you better understand the current market value of your home.
        </p>
      </h1>
      </div>
      
  </div> 
</body>
{% include 'footer.html' %}
 </html>