<!---------------------------------------------------------------------
* 
* Name: home.html
*
* Description: 
* This page currently demonstrates how the body on the index page gets
* replaced with the code in this file to render the template of the
* RealLeads home page.
*
----------------------------------------------------------------------->
{% extends 'home.html' %} {% block body %}

<h4>This is the RealLeads Extends Test page</h4>

<p>
  Note how using 'extends' on this page replaced everything in the block body of
  the home page.
</p>

<p>
  If 'include' was used instead, this page would have 'appended' everything in
  the block body of the home page instead.
</p>

{% endblock %}
