<!---------------------------------------------------------------------
* 
* Name: footer.html
*
* Description: 
* Renders the links in the footer of each page. This file will be
* included in each .html file in order to keep the same look and
* feel throughout the site.
*
----------------------------------------------------------------------->
<footer>
  &copy; Copyright 2022 by
  <a href="mailto: realleads@yahoo.com">RealLeads</a>
  <img src="/static/images/logo.png" width="100" height="100" alt="logo" />
</footer>
<!--
<img src="/static/images/logo.png" width="100" height="100" alt="logo" />
<! -- page break -- >
<div style="display: block; clear: both; page-break-after: always"></div>
-->
