<!---------------------------------------------------------------------
* 
* Name: home.html
*
* Description: 
* This page is a TEST dashboard for all other pages in the RealLeads
* Flask application.
*
* Purpose: 
* It's purpose is to allow developers to add a new routes to and
* new html pages for testing flask routing with different types of data 
* instead of adding unnecessary funtionality to the main application. 
*
* To a New Route:
* - Add a new button to test the new route below.
* - Create a new <route_name>.html file in the templates folder.
* - Add code to the new template that will be rendered using flask.
* - In app.py add the new route and code to render the new template.
*
* NOTE: The body of the home page is below the buttons used for testing.
* When a test button is clicked, flask will go to the route and render
* the new template in the body section of the home page below the buttons.
*
----------------------------------------------------------------------->
{% extends 'base.html' %} {% block content %}
<br />
<h3 class="title">
  Welcome to HomeWise powered by RealLeads. This Tool helps home owners like you
  estimate...
</h3>
{% endblock %}
