<!---------------------------------------------------------------------
* 
* Name: list_test.html
*
* Description:
* This page takes an array passed in from app.py and inserts it using 
* an html list in the body of the home page with 'extends'.
* 
----------------------------------------------------------------------->
{% extends 'home.html' %} {% block body %}

<h4>Testing a List Passed In from app.py</h4>

<ul>
  {% for town in towns %}
  <li>{{ town }}</li>
  {% endfor %}
</ul>

{% endblock %}
