<!---------------------------------------------------------------------
* 
* Name: script_test.html
*
* Description:
* This page will test calling a script to get the data to be rendered
* in this template.
* 
----------------------------------------------------------------------->
{% extends 'home.html' %} {% block body %}

<h4>Test for Calling a Script</h4>

<p>
  In this test we are taking in a "map" as an arg. For now our map is just a
  string passed back from calling the leads_map.get_map function in our app and
  passed in here to be displayed. If this works correctly, the string will be
  displayed in the next paragraph.
</p>

<div>
  <p>
    Calling map.show() in script_test.html replaces home.html with the map. Try
    just rendering the map var directly.
  </p>
  <p>{{map}}</p>
</div>

{% endblock %}
