{% block content %}
<div class="container">
  <form
    id="search_form"
    method="POST"
    enctype="multipart/form-data"
    action="{{ url_for(content_form.name) }}"
  >
    {{ search_form.csrf_token }} {{ search_form.address.label }}
    <select
      class="selectpicker"
      data-style="btn btn-primary"
      data-live-search="true"
    >
      {% for address in search_form.address.choices %}
      <option>{{ address }}</option>
      {% endfor %}
    </select>
    <br />
    <section id="search-data">
      {{ search_form.city.label }} {{ search_form.city }} {{
      search_form.state.label }} {{ search_form.state }} {{
      search_form.zipcode.label }} {{ search_form.zipcode }} {{
      search_form.mls_number.label }} {{ search_form.mls_number }}
    </section>
    <br />
    <input class="btn btn-primary" type="submit" value="Receive Data" />
  </form>
</div>
{% endblock %}
